<!DOCTYPE html>
<!-- INSTITUTE OF PLANAR RESEARCH AND EXPLORATION -----------------
__/\\\\\\\\\\\__/\\\\\\\\\\\\\______/\\\\\\\\\______/\\\\\\\\\\\\\\\_
 _\/////\\\///__\/\\\/////////\\\__/\\\///////\\\___\/\\\///////////__
  _____\/\\\_____\/\\\_______\/\\\_\/\\\_____\/\\\___\/\\\_____________
   _____\/\\\_____\/\\\\\\\\\\\\\/__\/\\\\\\\\\\\/____\/\\\\\\\\\\\_____
    _____\/\\\_____\/\\\/////////____\/\\\//////\\\____\/\\\///////______
     _____\/\\\_____\/\\\_____________\/\\\____\//\\\___\/\\\_____________
      _____\/\\\_____\/\\\_____________\/\\\_____\//\\\__\/\\\_____________
       __/\\\\\\\\\\\_\/\\\_____________\/\\\______\//\\\_\/\\\\\\\\\\\\\\\_
        _\///////////__\///______________\///________\///__\///////////////__
-->
<html>
  <head>
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700|Expletus+Sans&display=swap" rel="stylesheet">
    <link href="../assets/favicon.png" rel="icon" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>
{% if page.url == "/" %}
  <body class="home">
{% else %}
  <body>
{% endif %}
    {% include nav.html %}
    <div class="container_main">
      {{content}}
    </div>
  </body>
</html>
