<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-40863041-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-40863041-2');
    </script>

    <title>{{page.title}}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700|Expletus+Sans&display=swap" rel="stylesheet">
    <link href="../assets/favicon.png" rel="icon" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>
{% if page.url == "/" %}
  <body class="home">
{% else %}
  <body>
{% endif %}
    {% include nav.html %}
    <div class="container_main">
      {{content}}
    </div>
  </body>
</html>
